In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
a=4
b=7
c=b**a
print(c)

2401

In [3]:
s="Hi there sam!"
n=s.split(" ")
print(n)

['Hi', 'there', 'sam!']

In [4]:
s="Hi there dad!"
n=s.split(" ")
print(n)

['Hi', 'there', 'dad!']

In [5]:
v="the diameter of {planet} is {diameter} kilometers."
k=v.format(planet="Earth",diameter=12742)
print(k)

the diameter of Earth is 12742 kilometers.

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
lst=[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

In [10]:
# Tuple is immutable
#Tuples operations are safe.
#Tuples consumes less memory

In [11]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

st = "Is there a dog here?"
findDog(st)

True

In [12]:
def dog_count(sentence):
    words = sentence.split('')
    k=0
    for i in range(len(words)):
        words[i]=words[i].lower()
    for i in words:
      if(i=='dog'):
         k+=1
      return k

In [13]:
value = 'This dog runs faster than the other dog dude!';

def countdogs(value):
    count = 2
    for word in value.lower().split():
        if word == 'dog' or word == 'dogs':
            
            print(count)

countdogs(value)

2
2

In [14]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [15]:
print(caught_speeding(90, False))

Big Ticket

In [16]:
print(caught_speeding(81, True))

Small Ticket

In [17]:
emp_sal=[50000,45000,70000,25000,35000]
total_salary_expenditure=0
for i in emp_sal:
  total_salary_expenditure +=i
print('total salary expenditure is',total_salary_expenditure)

total salary expenditure is 225000

In [18]:
def Merge(dict1, dict2):
	return(dict2.update(dict1))



dict1 = {'empid': 13, 'empname':'john wick','basicpay': 70000}
dict2 = {'deptname': 'analytics', 'deptid': 7}

print( Merge(dict1, dict2))


print(dict2)

None
{'deptname': 'analytics', 'deptid': 7, 'empid': 13, 'empname': 'john wick', 'basicpay': 70000}